.card.border-primary:hover .card-img-top {
	filter: brightness(50%);
}

.custom-mt {
	margin-top: 20px; /* Độ lớn của khoảng cách phía trên */
}

.rounded-15px {
	border-radius: 15px;
}

.modal-backdrop {
	position: unset !important;
}

.topboar {
	padding-top: 3.5rem !important;

}

.rounded-15px {
	border-radius: 15px;
}

.card {
	margin-top: 100px;	
}